.container
{
    max-width:    1100px;
    margin-left:  auto;
    margin-right: auto;
}

.clearfix::after
{
    content: "";
    display: table;
    clear:   both;
}

*
{
    box-sizing: border-box;
}

.awesome-block
{
    padding-top:    100px;
    padding-bottom: 95px;
}

.title
{
    font-family: 'Raleway', sans-serif;
    font-size:   36px;
    line-height: 1.2;
    text-align:  center;
    color:       #212121;
    margin:      0;
}

.content
{
    text-align: center;
    color:      gray;
}

.pricing
{
    background-color: #f5f5f5;
    padding-top:      100px;
    padding-bottom:   80px;
}
